<h1>
  Everything we offer
  <small class="text-muted">Also what you missed</small>
</h1>
<br/><br />

<% @items.each do |item| %>
  <% if item.availability == 'available' %>
    <div class="row">
      <div class="col-md-7 vertical-center">
        <img class="img-fluid rounded mb-3 mb-md-0" src= <%= item.picture.url %> alt="Image unavailable">
      </div>
      <div class="col-md-5">
        <h3><%= item.name %></h3>
        <p>Price: $ <%= item.price %></p>
        <p>Category: <%= item.category %></p>
        <p>Condition: <%= item.condition %></p>
        <p>Description: <%= item.description %></p>
        <div class="btn btn-primary btn-outline btn-block">
          <%= link_to "Details", {:controller => "items", :action => "show", :id => item.id } %>
        </div>
        <div class="btn btn-primary btn-outline btn-block">
          <%= link_to "Add to cart", {:controller => "carts", :action => "create", :name => item.name, :price => item.price, :category => item.category, :condition => item.condition, :description => item.description, :picture => item.picture, :item => item }%>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-7 vertical-center">
        <img class="img-fluid rounded mb-3 mb-md-0" src= <%= item.picture.url %> alt="Image unavailable">
      </div>
      <div class="col-md-5">
        <h3><%= item.name %></h3>
        <p>Price: $ <%= item.price %></p>
        <p>Category: <%= item.category %></p>
        <p>Condition: <%= item.condition %></p>
        <p>Description: <%= item.description %></p>
        <p>$ <%= item.price %></p>
        <div class="btn btn-primary btn-outline btn-block">
          <%= link_to "Details", {:controller => "items", :action => "show", :id => item.id } %>
        </div>
        <div class="btn btn-primary btn-outline btn-block" disabled>
          Sold
        </div>
      </div>
    </div>
  <% end %>
  <hr>
<% end %>
<a class="btn btn-primary" href=<%= root_path %> role="button">Go back to home page</a>
